/* Sets up basic styling for the webpage */

html, body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ebf; /* Sets background color */
    font-family: 'Poppins', sans-serif; /* Sets font family */
}

/* Adjusts spacing for the main view */
#view {
    margin-top: 30px;
}

/* Styles for the maze container */
#mazeContainer {
    top: 15px;
    opacity: 0; /* Hides the maze container initially */
    display: inline-block;
    margin: auto;
    border-radius: 10px;
}
#mazeContainer #mazeCanvas {
    margin: 0;
    display: block;
    border: solid 2px green; /* Sets border style for the maze canvas */
    height: 400px;
}

/* Styles for input and select elements */
input, select {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.30); /* Sets background color */
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    appearance: none;
}
/* Hover effect for input and select elements */
input:hover, select:hover {
	background-color: rgba(0, 0, 0, 0.70);
}
/* Active state for input and select elements */
input:active, select:active {
	background-color: orange;
}
/* Focus state for input and select elements */
input:focus, select:focus {
	outline: none;
}
/* Styles for custom select elements */
.custom-select {
	display: inline-block;
}
.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: 125px center;
}

/* Styles for the message container */
#Message-Container {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 1;
}
#Message-Container #message {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

/* Styles for the page layout */
#page {
	text-align: center;
	height: auto;
	width: auto;
	margin: auto;
}
#page #menu {
    margin: auto;
    padding: 10px;
    height: 65px;
    box-sizing: border-box;
}
#page #menu h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 3.2rem;
}
#page #view {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
}

/* Adds a border around elements with the "border" class */
.border {
    border: 10px black solid;
    border-radius: 10px;
}

/* Media query for extra small devices */
@media only screen and (max-width: 400px) {
	input, select {
	    width: 120px; /* Adjusts width for smaller screens */
	}
}
